/* font-family: 'Tilt Neon', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}
