/* font-family: 'Tilt Neon', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar-custom{
    background-color: #222831;
    opacity: 0.99;
}

.collapse{
    color: white;
}

.nav-icon{
    align-items: center;
}
.nav-icon i {
    margin-right: 5px;
    padding: 10px;
}

.nav-center{
    text-align: center;
}

.nav-item{
    padding: 10px;
}

.nav-item:hover .nav-link{
	color: #00adb5 !important;
}

.nav-link{
	color: #f9f4f4 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #00adb5;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 2;
}

.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.dropdown-item{
    margin-top: 10px;
}

input[type=search]{
    width: 40px;
    height: 38px;
    padding: 8px 20px 8px 45px;
    border: #fff solid 2px;
    font-size: 18px;
    border-radius: 25px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url('image/search.png');
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    filter: brightness(170%);
    border: none;
}

input[type=search]:focus,
input[type=search]:not(:placeholder-shown){
    width: 350px;
    background-color: #fff;
    filter: brightness(100%);
}


/* Carousel */

.home .carousel-item{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.home .carousel-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.home .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .carousel-item h2{
    font-size: 80px;
    color: #ffffff;
    margin: 0 0 10px;
}

.home .carousel-item p{
    font-size: 30px;
    margin: 0;
    color: #eeee;
}

.home .carousel-item.active h2{
    animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p{
    animation: fadeInLeft 0.5s ease forwards;
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .carousel-controls{
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 10;
    transform: translateX(-50%);
}

.home .carousel-indicators{
    position: relative;
    margin: 0;
}

.home .carousel-indicators button{
    height: 70px;
    width: 70px;
    margin: 0 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
    transition: all 0.3s linear ease;
}

.home .carousel-indicators .active{
    border-color: #ffffff;
    transform: scale(1.2);
}

.home .carousel-control-next,
.home .carousel-control-prev{
    height: 60px;
    width: 60px;
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.home .carousel-control-next:hover,
.home .carousel-control-prev:hover{
    box-shadow: 0 0 10px #ffffff;
}

.home .carousel-control-next{
    right: -90px;
}

.home .carousel-control-prev{
    left: -90px;
}

/*  form */
.home .container {
	position: absolute;
	left: 50%;
    top: 0;
    transform: translateX(-50%);
	color: #FFFFFF;
	z-index: 1;
}

.home .container .row {
	margin-top: 150px;
	background: rgba(34, 40, 49,0.99);
	color: #f9f4f4;
	padding: 20px;
	text-transform: uppercase;
    border-radius: 5px;
    box-shadow:
  0px 0.9px 4.6px rgba(0, 0, 0, 0.105),
  0px 2.5px 12.8px rgba(0, 0, 0, 0.15),
  0px 6px 30.8px rgba(0, 0, 0, 0.195),
  0px 20px 102px rgba(0, 0, 0, 0.3)
;
}

.home .container .row #left form {
	padding: 10px 0;
}

.home .container .row h1,
.home .container .row h2{
	font-weight: bold;
}

.home .container .row #right p {
    text-transform: none;
}
/*
form input,
form textarea,
form label {
	
}

form label {
	padding-top: 10px;
}

form input,
form textarea {
	background-color: transparent;
	border: 0;
	border-bottom:2px solid #f9f4f4;
}

form input,
form textarea {
	color: #FFF;
	font-size: 18px;
	padding: 10px;
}

form input:focus,
form textarea:focus {
	outline: none;
}
*/

form input[type=submit] {
    display: block;
	margin: 0 auto;
	width: 100%;
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;;
	background-color: #222831;;
	padding: 15px 0;
	color: rgb(0, 173, 181);
    border: 1px solid rgb(0, 173, 181);
	font-size: 1rem;
	margin-top: 30px;
	cursor: pointer;
    border-radius: 5px;
	transition: all .5s ease;
}

form input[type=submit]:hover {
	background: rgb(0, 173, 181);
    color: #222831;
}



.row #right iframe {
	width: 100%;
	filter: invert();
    border-radius: 5px;
}


.input-field {
    position: relative;
    width: 100%;
    padding: 15px 0;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(238, 238, 238, 0.35);
    background: #222831;
    border-radius: 5px;
    outline: none;
    color: #FFF;
    font-size: 1rem;
    transition: 0.5s;
}

.input-field label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: rgba(238, 238, 238, 0.35);
    transition: 0.5s;
}

.input-field input:valid ~ label,
.input-field input:focus ~ label {
    color: rgb(0, 173, 181);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0 10px;
    background : #222831;
    border-left: 1px solid rgb(0, 173, 181);
    border-right: 1px solid rgb(0, 173, 181);
    letter-spacing: 0.2rem;
}

.input-field input:valid,
.input-field input:focus {
    border: 1px solid rgb(0, 173, 181);
}  

.input-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(238, 238, 238,0.35);
    background: #222831;
    border-radius: 5px;
    outline: none;
    color: #FFF;
    font-size: 1rem;
    transition: 0.5s;
}

.input-field textarea:valid ~ label,
.input-field textarea:focus ~ label {
    color: rgb(0, 173, 181);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0 10px;
    background : #222831;
    border-left: 1px solid rgb(0, 173, 181);
    border-right: 1px solid rgb(0, 173, 181);
    letter-spacing: 0.2rem;
}

.input-field textarea:valid,
.input-field textarea:focus {
    border: 1px solid rgb(0, 173, 181);
}  

/* cards */
.col-md-3 .card img{
    border-radius: 20px;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.card{
    border-radius: 30px;
    background-color: #b2aaaa2d;
    border-width: 0px;
    
}

.card:hover{
    transition: 
    filter 200ms linear,
    transform 200ms linear;
    box-shadow: 0 10px 10px  #858586, 0 10px 10px  #858586;
    transform: scale(1.01) translateZ(0);
  }

.card-body .btn{
    border-radius: 9px;
}

.logos {
    display: flex;
  }
  
  .logo:nth-child(2){
    transition-delay: 200ms;
  }
  
  .logo:nth-child(3){
    transition-delay: 400ms;
  }

.col .card .img{
    border-radius: 20px;
}


/* footer */
.list-inline-item .btn-floating{
    font-size: 23px;
}

.footerbg{
    background-color: #222831;
}



/* responsive */

@media(max-width: 767px){
    .home .carousel-control-next,
    .home .carousel-control-prev{
        display: none;
    }

    .home .carousel-indicators button{
        height: 60px;
        width: 60px;
    }

    .home .carousel-item h2{
        font-size: 45px; 
    }

    .home .carousel-item p{
        font-size: 22px;
    }
}
    
