/* font-family: 'Tilt Neon', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar-custom {
    background-color: #222831;
    opacity: 0.99;
}

.collapse {
    color: white;
}

.nav-icon {
    align-items: center;
}

.nav-icon i {
    margin-right: 5px;
    padding: 10px;
}

.nav-center {
    text-align: center;
}

.nav-item {
    padding: 10px;
}

.nav-item:hover .nav-link {
    color: #00adb5 !important;
}

.nav-link {
    color: #f9f4f4 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #00adb5;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 2;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.dropdown-item {
    margin-top: 10px;
}

input[type=search] {
    width: 40px;
    height: 38px;
    padding: 8px 20px 8px 45px;
    border: #fff solid 2px;
    font-size: 18px;
    border-radius: 25px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url('image/search.png');
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    filter: brightness(170%);
    border: none;
}

input[type=search]:focus,
input[type=search]:not(:placeholder-shown) {
    width: 350px;
    background-color: #fff;
    filter: brightness(100%);
}

/*---------*/

.text-light {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

.product-items {
    margin-top: 1%;
}

/* product section */
.products {
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.products .text-light {
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

.product {
    margin: 2rem;
    position: relative;
}

.product-content {
    background: var(--gray);
    cursor: pointer;
}

.product-img {
    text-align: center;
    width: 180px;
    height: 150px;
    margin: 0 auto;
    transition: background 0.5s ease;
}

.product-info {
    background: white;
    padding: 2rem;
    text-align: center;
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-img img {
    transition: transform 0.6s ease;
}

.product:hover .product-img img {
    transform: scale(1.1);
}

.product:hover .product-img {
    background: var(--carribean-green);
}

.product:hover .product-btns {
    opacity: 1;
}

/* product collection */
.product-collection {
    padding: 3.2rem 0;
}

.product-collection-wrapper {
    padding: 3.2rem 0;
}

.product-col-left {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-1.jpg") center/cover no-repeat;
}

.product-col-r-top {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-2.png") center/cover no-repeat;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
}

.product-col-r-bottom>div:first-child {
    background: #eaa001;
}

.product-col-r-bottom>div:last-child {
    background: #0090ff;
}

.product-col-content {
    text-align: center;
    color: white;
}

.product-collection .text-light {
    opacity: 1;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
}

.btn-dark {
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
}

.btn-dark:hover {
    background: var(--carribean-green);
}

/* responsive */

/* Media Queries */
@media screen and (min-width: 992px) {
    .product-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-col-r-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .product-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .products .text-light {
        width: 50%;
    }
}

@media screen and (min-width: 1336px) {
    .product-items {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-collection-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .flex {
        height: 60vh;
    }

    .product-col-left {
        height: 121.5vh;
    }
}

/* footer */
.list-inline-item .btn-floating {
    font-size: 23px;
}

.footerbg {
    background-color: #222831;
}



/* responsive */

@media(max-width: 767px) {

    .home .carousel-control-next,
    .home .carousel-control-prev {
        display: none;
    }

    .home .carousel-indicators button {
        height: 60px;
        width: 60px;
    }

    .home .carousel-item h2 {
        font-size: 45px;
    }

    .home .carousel-item p {
        font-size: 22px;
    }
}
